
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sheard style */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.color-orange {

    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    color: white ;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    

}
.section-heading{
    max-width: 827px;
    text-align: center;
}
.text-center{
    text-align: center;
}
/* main style  */
header{

    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    height: 950px;
}
nav{
width:60% ;
max-width: 1140px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;

}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:  51px;
    align-items: center;
}
nav .menu a{
  font-size: 21;
  color: black;
    text-decoration: none;
}
#banner{
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2{
font-size: 45px;
font-weight: 600;
color: #474747;
margin-bottom: 5px;

}
#banner .banner-content{
    max-width: 585px;
    max-height: 262px;
}
#banner .banner-content h1{

    font-size: 85px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#banner .banner-image img{

    max-width: 584px;
    vertical-align: middle;
    margin-top: -7px;
    margin-right: 60px;
    height: 800px;
    width: 584px;
}


.btn-2{
color: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    /* color: white ; */
    font-size: 20px;
    font-weight: bolder;
    margin-left: 30px;
    cursor: pointer;


}
.btn-2:hover{
box-shadow: 10px 10px 10px #757575;

}
.btn:hover{
box-shadow: 10px 10px 10px #757575;

}
#about{
    padding-top: 127px;
}
#about .about-container{

    width: 60%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;

}
.section-heading h2{
 font-size: 35px;
 font-weight: 700;
 margin-bottom: 30px ;

}
.section-heading p{

    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;

}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
#about .about-container .about-info p{
    line-height: 30px;
    font-size: 20px;
    color: #757575;


}
#about .about-container .about-info h4{
    line-height: 30px;
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}
nav li a:hover{
    color: #757575;
}
#skills{
    padding-top: 130px;
    
}
#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-container .section-heading{
    margin: 0 auto;
}
#skills .skills-container .section-heading h2{
    font-size: 35px;
    font-weight:700 ;
    margin-bottom: 30px;
    
}
#skills .skills-container .section-heading p{

    margin-bottom: 50px;

}
.card-section{
display: flex;
gap: 24px;
}
.card-section .card-box{
padding: 30px;
    /* border:1px solid #FD6E0A; */
    box-shadow: 0 6px 50px #0a0a0a2d;
}
.card-section .card-box img{
    max-width: 44px;
    margin-bottom: 30px;
}
.card-section .card-box h3{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;

}
.card-section .card-box p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
    max-width: 201px;
}
#resume{
    max-width: 1140px;
    padding-top: 130px;
    width: 60%;
    margin: 0 auto;
}
#resume .section-heading{
    
    margin-bottom: 113px;
}
#resume .resume-container{
    display: flex;
    gap: 24px;
}
.resume-titale{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 30px;

}
.resume-card .card-titale{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;

}
.resume-card .semi-titale{
font-size: 20px;
font-weight: 600;
color: #757575;
margin-bottom: 20px;

}
.resume-card .ditails{

    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;

}
hr{
    margin-bottom: 30px;
}
#resume .btn{
     margin-top: 50px;

}
footer{
    margin-top: 113px;
    padding: 130px 0;
    background-color: #FFF8F3;
    
}
footer .footer-container{
    max-width: 1140px;
    width: 60%; 
    margin:  0 auto;
    display: flex;
    gap: 117px;
}
.social h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.social{
    max-width: 562px;
}
.social p{
    font-size: 16px;
    margin-bottom: 30px;
    color: #474747;
    line-height: 28px;
}
.icons a{
   margin-right: 24px;
    justify-content: space-between;
}
.form h2{
    font-size: 35px;
    margin-bottom: 28px;

}
.footer-container form input[type="text"]{
    
    padding: 18px 31px;
     border-radius: 5px;
     width: 461px;
     margin-bottom: 24px;
     border: none;
}

.footer-container form input[type="email"]{
    
    border-radius: 5px;
    margin-bottom: 24px;
padding: 18px 31px;
width: 461px;
border: none;
}
textarea{
border: none;
    border-radius: 5px;
    margin-bottom: 24px;
padding: 18px  30px;
width: 461px;
height: 180px;
font-size: 16px;
line-height: 28px;
 color: #757575;
}
.hide{
    display: none !important;
}
.btn-group{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
@media screen and (max-width:576px) {
    #skills, #resume{
        padding-top: 60px;
    }
    #resume .section-heading{
        margin-bottom: 60px;
    }
    #skills .skills-container{
        width: 95%;
    }
    #skills .skills-container .section-heading h2 {
    font-size: 30px;
    }
    .section-heading p {
    color: #757575;
    font-size: 15px;
    line-height: 30px;
}
.card-section, #about .about-container .about-info, footer .footer-container, #resume .resume-container, nav, #banner{
    flex-direction: column;
    

}
.card-section .card-box{
    max-width: 100%;
}
.card-section .card-box p {
    max-width: 100%;
    font-size: 15px;
}

#about .about-container {
    width: 100%;
    padding: 20px;
}
#about .about-container .about-info{
    gap: 40px;
}

.footer-container form input[type="email"] ,footer .footer-container, textarea, .footer-container form input[type="text"]{


    width: 95%;
    align-items: center;
}
.social{
    text-align: center;
}
#resume{
    width: 80%;
    text-align: center;
}
.btn {

    padding: 12px 20px;
    
   
}
nav{
    gap: 20px;
    
}
nav .menu{
    flex-wrap: wrap;
    justify-content: center;
}
    
#banner{
    margin: 20px;
    gap: 20px;
}
#banner .banner-image img {
    max-width: 584px;
    margin-top: 120px;
    margin-right: 0;
    height: 100%;
    width: 100%;
}
#banner .banner-content h1{
    font-size: 51px;
}
#banner .banner-content{
    text-align: center;
}
#banner .banner-content h2 {
    font-size: 36px;
}
header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background:url(../images/header_bg.png), #FFF8F3;
    background-position:bottom right;
    background-repeat: no-repeat;
    height: 1080px;
}
.btn-group{
    justify-content: center;
}
#banner .banner-content p {
    font-size: 17px;
}
.btn-2 {
 
    padding: 12px 20px;
    
    font-size: 20px;
}
}